.CreateTodoButton {
    z-index: 2;
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: #FAFAFA;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .CreateTodoButton-Container
  {
    display: flex;
    justify-content: flex-end;
  }
  .CreateTodoButton:hover {
    transform: rotate(360deg);
  }

  .CreateTodoButton-Container svg{
    height: 50px;
    width: 50px;
  }