
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-weight: bold;
    color: white;
  }

  .Icon-check {
    height: 25px;
    width: 25px;
  }
  
  .Icon-delete:hover {
    color: red;
  }